<li>
    Title:-<%=job.title%>    <br>
    Description:-<%=job.description%>    <br>
    Skills:-<%=job.skills%><br>
    Date Posted:-<%=job.dateposted%><br>
    Loaction:-<%=job.location%><br>
    Experience:-<%=job.experience%><br>
    Base Salary:-<%=job.basesalary%><br>
    Base Salary:-<%=job.basesalary%><br>
    Company:-<%=job.company.companyName%><br>
</li>


