<li>
    Title:-<%=job.title%>
    Description:-<%=job.description%>
    Skills:-<%=job.skills%>
    Date Posted:-<%=job.dateposted%>
    Loaction:-<%=job.location%>
    Experience:-<%=job.experience%>
    Base Salary:-<%=job.basesalary%>
    Base Salary:-<%=job.basesalary%>
    Company:-<%=job.company.companyName%>
</li>


