
  <link  rel="stylesheet" href="/css/user_profile.css">
  <h1>
      Codecial/Profile
  </h1>
  <%if(locals.profile_user){%>
    <%if(user.id==profile_user.id){%>
      <form action="/users/update/<%=profile_user.id%>" method="POST">
        <input type="text" name="name" placeholder="Your new Name" value="<%=profile_user.name%>" required>
        <input type="email" name="email" placeholder="Your email" value="<%=profile_user.email%>" required>
        <input type="submit" value="Update">
      </form>
    <%}%>
    <p><%=profile_user.name%></p>
    <p><%=profile_user.email%></p>
    <!-- Jab wo khud dekhe -->
  <%}else{%>
    <h1><%=notif.length%></h1>
    <div class="myDIV">
      <% if(notif.length==0){%>
      <i class="fas fa-bell fa-2x"></i>
      <% }else{%>
        <img src="/images/Capture.JPG">
        <!-- <i class="fas fa-bell-on fa-2x"></i> -->
      <% } %>
    </div>
    <div class="hide" style="background-color: #2C2F31 ; color:white; border-radius: 5px;">
    <ul>
      <h1>notifications</h1>
      <%for(n of notif){%>
        <li>
          <div>your application for <%= n %> got selected</div>
        </li>
        <% } %>
    </ul>
   </div>
    
    <form action="/users/update/<%=user.id%>" method="POST">
      <input type="text" name="name" placeholder="Your new Name" value="<%user.name%>" required>
      <input type="email" name="email" placeholder="Your email" value="<%=user.email%>" required>
      <input type="submit" value="Update">
    </form>
    <p><%=user.name%></p>
    <p><%=user.email%></p>
    
    <!-- jobs applied -->
    <div id="job-list-container" style="background-color: #CCEABB;">
      <h4>All Jobs applied By <%=user.name%></h4>
      <ul>
          <%for(job of jobs){%>
            <li>
              Title:-<%=job.title%>    <br>
              Description:-<%=job.description%>    <br>
              Skills:-<%=job.skills%><br>
              Date Posted:-<%=job.dateposted%><br>
              Loaction:-<%=job.location%><br>
              Experience:-<%=job.experience%><br>
              Base Salary:-<%=job.basesalary%><br>
              Company:-<%=job.company.companyName%><br>
              <%for(a of job.applicants){%>
                
                  <%if(a.user==user.id){%>
                    <h6>status: <%=a.status%></h6>
                  <%}%> 
                  
                  
                
              <% } %>
          </li>
              <hr>
          <%}%>
      </ul>
  </div>


  <%}%>
  
  
    